*.egg-info
*.pyc
__pycache__
*.swp
htmlcov/
*.csv
*.log
.*
*.xcf
build/
dist/
tests/

node_modules
src/webapp
package.json
rome.json
package-lock.json
tsconfig.json

.flake8
.editorconfig

docker-compose.yml
