{% extends "layout.jinja2" %}
{% block body %}
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <h1 class="title">Casual Documentation</h1>
    </div>
  </section>

  <div class="container">
    <div class="columns">
      <div class="column">
        {{ include_block(page.menu) }}
      </div>
      {# {% for column in block.items %}
        <div class="column">
          {{ include_block(column.item) }}
        </div>
      {% endfor %} #}
    </div>

  </div>
{% endblock %}
