{% extends "layout.jinja2" %}
{% block body %}
  <h1>{{hero_title}}</h1>
  {% for p in body %}
    <h2>{{p.title}}</h2>
    {{ p.body | safe }}
  {% endfor %}
  {% if related_post_snippet %}
      {{ include_snippet(related_post_snippet) }}
  {% endif %}
{% endblock %}
