{% extends "layout.jinja2" %}
{% block body %}
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <h1 class="title">{{page.hero_title}}</h1>
    </div>
  </section>
  {{ include_block(page.columns) }}
{% endblock %}
