{% extends "layout.jinja2" %}
{% block body %}
  <section class="hero is-small is-primary">
    <div class="hero-body">
      <h1 class="title">{{page.hero_title}}</h1>
    </div>
  </section>
  <br>!!!<br>
  {{page.metadata}}
  <br>!!!<br>
  {% for column in columns %}
    {{ column }}
    <br/>
  {% endfor %}
{% endblock %}
