<h1>{{snippet.title}}</h1>
<ul role="nav">
{%- for link in snippet.links -%}
    <li><a href="{{link.href}}">{{link.title}}</a></li>
{%- endfor -%}
{%- if get_setting("contact.email") -%}
    <li><a href="mailto:{{get_setting('contact.email')}}">Contact Us</a></li>
{%- endif -%}
</ul>