<html>
    <head>
        <title>{{title}}</title>
        <meta name="description" content="{{description}}" />
    </head>
    <body>
        {{ include_snippet("header") }}
        <h2>{{hero_title}}</h2>
    </body>
</html>
