<html>
    <head>
        <title>{{page.title}}</title>
        <meta name="description" content="{{page.description}}" />
    </head>
    <body>
        {{ include_snippet("header") }}
        <h2>{{page.hero_title}}</h2>
    </body>
</html>
