<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="/" style="font-size:3em">
      👕
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {%- for link in snippet.links -%}
        {{ include_block(link, class_name="navbar-item") }}
      {%- endfor -%}
    </div>
  </div>
  <br />
</nav>
<div class="container is-fluid">
  {% include "atoms/breadcrumb.jinja2" %}
</div>