<nav class="navbar is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
      <h1 class="title"><a href="/">{{ snippet.title }}</a></h1>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      {%- for link in snippet.links -%}
        {{ include_block(link, class_name="navbar-item") }}
      {%- endfor -%}
    </div>
  </div>
</nav>
