<div class="container is-fluid">
  {% for item in block.items %}
  {% if column_count == 1 or (loop.index % column_count) == 1 %}
  <div class="columns">
    {% endif %}
    <div class="column">
      {{ include_block(item) }}
    </div>
    {% if (loop.index % column_count) != 0 and loop.last %}
    <div class="column"></div>
    {% endif %}
    {% if column_count == 1 or (loop.index % column_count) == 0 or loop.last %}
  </div>
  {% endif %}
  {% endfor %}
</div>