{% extends "layout.jinja2" %}
{% block body %}
  <section class="hero is-medium is-primary">
    <div class="hero-body">
      <h1 class="title">Casual Blog</h1>
      <p>
        TODO
      </p>
    </div>
  </section>
{% endblock %}
